<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/modal.css">
    <title>Title</title>
</head>
<body>

<div class="wrapper">
    <div class="container">
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, amet assumenda at culpa debitis error fugiat
            ipsam laboriosam minima necessitatibus nemo numquam quaerat quam rerum suscipit tempore vero voluptas
            voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, amet assumenda at culpa debitis error fugiat
            ipsam laboriosam minima necessitatibus nemo numquam quaerat quam rerum suscipit tempore vero voluptas
            voluptatum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, amet assumenda at culpa debitis error fugiat
            ipsam laboriosam minima necessitatibus nemo numquam quaerat quam rerum suscipit tempore vero voluptas
            voluptatum.
        </p>
        <a class="modal_open" href="#mod">Open Modal</a>
    </div>
</div>

<div class="modal" id="mod">
    <div class="modal_body">
        <div class="model_header">
            <h3 class="model_title">Title</h3>
            <a class="modal_close" href="">x</a>
        </div>
        <div class="model_main">
            <p class="model_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, beatae dolorem eaque ex impedit
                obcaecati quia quis saepe sed sint. Culpa deserunt error est excepturi, facere nobis ratione rem
                voluptatum.
            </p>
        </div>
        <div class="modal_footer">
            <button class="submit button" type="submit"><a class="button_link" href="">Submit</a></button>
            <button class="reset button" type="reset"><a class="button_link" href="">Reset</a></button>
        </div>
    </div>
</div>
</body>
</html>