<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/smile.css">
    <title>Title</title>
</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="smile">
            <div class="circle one"></div>
            <div class="circle two"></div>
            <div class="circle three"></div>
            <div class="circle_smile"></div>
            <div class="circle_smile_color"></div>
        </div>
    </div>
</div>

</body>
</html>